* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

header {
    background-color: #2a607c;
    width: 100%;
    height: 95px;
    position: fixed;
    top: 0;
	left: 0;
    padding: 20px;
    color: #ffffff;
}

h1.logo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;
    font-size: 48px;
}

.seo {
    color: #d9dcd6;
}

 nav {

	float: right;
    padding: 20px;
    font-size: 20px;

}

 nav ul {

	list-style: none;

}

 nav li {

	display: inline-block;
    padding: 0 10px;

}

#menu-icon {

	display: hidden;
	width: 40px;
	height: 40px;
	background: url("../images/hamburg-menu.png") center;

}

a:hover#menu-icon {

	border-radius: 4px 4px 0 0;

}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
*/

.test-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 15px;
}
/*
.test-container > div {
    color: white;
    margin: 3px;
    flex-grow: 1;
  }*/
div.content-column-one {
    color: #ffffff;
    margin: 6px;
    flex: 70%;
}

div.content-column-one > div {
    background-color: #0072bb;
    margin-bottom: 18px;
    padding: 25px;
}

div.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
div.services-1 {
}

div.services-2 {
    max-width: 60%;
    }

div.services img {
    max-width: 300px;
    margin: 24px 20px;
}

.content-column-two {
    background-color: #2589bd;
    color: white;
    margin: 6px;
    flex: 25%;
    text-align: center;
    max-width: 300px;
    padding: 25px;
    margin-bottom: 24px;
}

.content-column-two div {
    margin-bottom: 25px;
}

.content-column-two img {
    max-width: 150px;
}

.content-column-two p {
    text-align: left;
}
/*
div.content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 15px;
}

div.service-column {
    flex-grow: 3;
}

.service-container {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #0072bb;
    color: #ffffff;
}

.service-container img {
    width: 200px;
}

.service-container > h2 {
    margin-bottom: 20px;
    font-size: 36px;
}  

.benefits {
    flex-grow: 1;
    padding: 20px;
    background-color: #2589bd;
}

.benefit-child {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-child h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-child img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
} 
*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

/* check size of device to adjust for small screens and mobile */
@media only screen and (max-width : 1050px) {

	#menu-icon {

		display:inline-block;

    }
    
    nav {
        float: right;
        padding: 10px 20px;
        font-size: 20px;
    }

	nav ul, nav:active ul { 
		display: none;
		position: absolute;
		padding: 20px;
        background-color: #2a607c;
        opacity: .7;
		border: 3px solid #0072bb;
		right: 50px;
		top: 60px;
		width: 340px;
		border-radius: 4px 0 4px 4px;
	}

	nav li {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}

	nav:hover ul {
		display: block;
    }
}